@font-face {
    font-family: 'Astonia';
    src: url('/Astonia.otf');
}

*{background-color: #f8f6f1;}

header{
    text-align: center;
    margin-top: 1.25pc;
    margin-bottom: 2pc;
    font-size: 50px;
    font-family: Astonia;
    font-weight: bolder;
}

div.words{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    margin-left: 25em;
    margin-right: 25em;
    margin-top: 80px;
    padding: 80px;

}

p{
    margin-bottom: 15px;
}

main{
    place-items: center;
    margin: 50px;
    padding: 30px;
}



img.Spring {
    margin-left: 33px;
    margin-right: 33px;
    margin-bottom: 1pc;
    float:left;
    border: #000;
    border-style: solid;
}

img.Summer {
    margin-left: 33px;
    margin-right: 33px;
    margin-bottom: 1pc;
    float:left;
    border: #000;
    border-style: solid;
}

img.Fall {
    margin-left: 34px;
    margin-right: 34px;
    margin-bottom: 1pc;
    float:left;
    border: #000;
    border-style: solid;
}

img.Winter {
    margin-left: 34px;
    margin-right: 18.5px;
    margin-bottom: 1pc;
    float:left;
    border: #000;
    border-style: solid;
}