@font-face {
  font-family: 'Astonia';
  src: url('./other_files/Astonia.otf');
}

.body {
  display: flex;
  flex-direction: column;
  min-width: 375px;
  height: 100vh;
}

header {
  flex: 0 80px;
}


main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-family: Astonia;
}

footer {
  flex: 0 30px;
}

menu {
  flex: 1;
  display: flex;
  /*  overwrite Bootstrap so the menu does not wrap */
  flex-direction: row !important;
  list-style: none;
}



.navbar-top {
  padding-left: 0.3em;
  border-bottom: solid rgb(182, 182, 182) thin;
  background-color: #EDE8D0;
  padding: 16px 16px;
  margin-bottom: 16px;
  display: flex;
  font-family: Astonia;
  font-size: 25px;
}

.navbar-nav {
  position: absolute;
  right: 0;
  margin-right: 1em;
  margin-top: .12em;
  font-size: 20px;
}

.nav-link {
  color: black;
  text-decoration: none;
}


menu .nav-item {
  padding: 0 0.4em;
}

footer a {
  float: right;
}

@media (max-height: 600px) {
  header {
    display: none;
  }
  footer {
    display: none;
  }
}
