@font-face {
  font-family: 'Astonia';
  src: url('other_files/Astonia.otf');
}
*{margin:0; padding:0;}

.navbar{
  display: flex;
  justify-content: space-between;
  background-color: #EDE8D0;
  padding: 10px 16px;
  margin-bottom: 16px;
  font-family: 'Astonia';
}

.navbar-menu{
  display: flex;
  list-style-type: none;
  gap: 30px;
  background-color: #EDE8D0;
  margin: 0;
  align-items: center;
}

.navbar-menu li a{
  text-decoration: none;
  color: black;
  background-color: #EDE8D0;
}

div.logo{
  font-size: 30px;
  background-color: #EDE8D0;
  padding: 10px 16px;
}

.dropdown-menu{
  position: absolute;
  top: 4.5rem;
  right: 4.2rem;
  width: 75px;
  padding: 15px;
  border-radius: 15px;
  background-color: white;
  border: 1px solid gray;
  font-size: 25px;
}