
.fwarmtone button {
    background-repeat: no-repeat;
    background-image: url("../../images/Season_Buttons/Fall_button_W.jpg");
    border-radius: 10px;
}

.fcoldtone button {
    background-repeat: no-repeat;
    border-radius: 10px;
    background-image: url("../../images/Season_Buttons/Fall_button_C.jpg");
}


