@font-face {
    font-family: 'Astonia';
    src: url('/Astonia.otf');
  }

h1 {
    text-align: center;
    margin-top: 2pc;
    margin-bottom: 2pc;
    font-size: 50;
    font-family: Astonia;
    font-weight: bolder;
}

body {
    background-color: #f8f6f1;

}
main {
    text-align: center;
}

main a button {
    background-color: transparent;
    background-size: 600px 900px;
    border: 2px solid #000;
    font-family: Astonia;
    border-radius: 0;
    box-sizing: border-box;
    color: black;
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    letter-spacing: .05em;
    font-size: large;
    margin: 50px;
    outline: none;
    overflow: visible;
    padding: 2em 1em;
    text-align: center;
    text-decoration: none;
    transition: .3s ease-in-out;
    user-select: none;
    width: 600px;
    height: 900px;
    margin-bottom: 1pc;
    
      &:hover {
      color: white;
      background: black;


     
  }
}