* {
    margin: 0;
    box-sizing: border-box;
}

.page-container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

h2 {
    align-items: center;
    display: flex;
}

.slide-panel {
    display: flex;
    align-items: center;
    width: 500px;
    height: 750px;
    overflow-x: scroll;
    overflow-y: none;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

.prev, .next {
    width:2em;
    height:2em;
    cursor: pointer;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: .25s;
}

.prev:hover, .next:hover {transform: scale(1.25);}

.prev {
    background-image: url(../../images/Image_Slider/prev.png);
}

.next {
    background-image: url(../../images/Image_Slider/prev.png);
    rotate: 180deg;
}


.Slider-image {
    scroll-snap-align: start;
    min-width: 500px;
    min-height: 750px;
    max-width: 500px;
    max-height: 750px;
    border: 2px solid black;
    border-radius: 10px;

}

::-webkit-scrollbar{
    display: none;
}