.swarmtone button {
    background-repeat: no-repeat;
    background-image: url("../../images/Season_Buttons/Spring_button_W.jpg");
    border-radius: 10px;
}

.scoldtone button {
    background-repeat: no-repeat;
    background-image: url("../../images/Season_Buttons/Spring_button_C.jpg");
    border-radius: 10px;
}
