.winterwarmtone button {
    background-repeat: no-repeat;
    background-image: url("../../images/Season_Buttons/Winter_button_W.jpg");
}

.wintercoldtone button {
    background-repeat: no-repeat;
    background-image: url("../../images/Season_Buttons/Winter_button_C.jpg");
}
